<nav>

    <a href="/" class="logo">
    <img src="/images/logo-jasavote.png" alt="Jasa Vote" />
  </a>

  <div class="menu">

    <a href="/">Home</a>

    <a href="/layanan">Layanan</a>

    <a href="/about">About</a>

    <a href="/kontak">Kontak</a>

    <a href="/blog">Blog</a>

  </div>

</nav>