<section class="platforms">
  <div class="platform-track">

    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-instagram">
          <img src="/images/platforms/jasavote-instagram.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Instagram</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-instagram">
          <img src="/images/platforms/jasavote-instagram.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Instagram Story</div>
    </div>

    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-facebook">
          <img src="/images/platforms/jasavote-facebook.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Facebook</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-twitter">
          <img src="/images/platforms/jasavote-twitter.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Twitter</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-telegram">
          <img src="/images/platforms/jasavote-telegram.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Telegram</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-tiktok">
          <img src="/images/platforms/jasavote-tiktok.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Tiktok</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-youtube">
          <img src="/images/platforms/jasavote-youtube.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Youtube</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-discord">
          <img src="/images/platforms/jasavote-discord.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Discord</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-kontes">
          <img src="/images/platforms/jasavote-kontes.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Kontes Lomba</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-polling">
          <img src="/images/platforms/jasavote-polling.png" alt="">
        </a>
      </div>
      <div class="platform-text">Polling</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-website">
          <img src="/images/platforms/jasavote-website.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Website</div>
    </div>

    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-instagram">
          <img src="/images/platforms/jasavote-instagram.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Instagram</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-instagram">
          <img src="/images/platforms/jasavote-instagram.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Instagram Story</div>
    </div>

    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-facebook">
          <img src="/images/platforms/jasavote-facebook.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Facebook</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-twitter">
          <img src="/images/platforms/jasavote-twitter.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Twitter</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-telegram">
          <img src="/images/platforms/jasavote-telegram.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Telegram</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-tiktok">
          <img src="/images/platforms/jasavote-tiktok.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Tiktok</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-youtube">
          <img src="/images/platforms/jasavote-youtube.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Youtube</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-discord">
          <img src="/images/platforms/jasavote-discord.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Discord</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-kontes">
          <img src="/images/platforms/jasavote-kontes.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Kontes Lomba</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-polling">
          <img src="/images/platforms/jasavote-polling.png" alt="">
        </a>
      </div>
      <div class="platform-text">Polling</div>
    </div>
    
    <div class="platform-card">
      <div class="platform-image">
        <a href="/jasavote-website">
          <img src="/images/platforms/jasavote-website.png" alt="">
        </a>
      </div>
      <div class="platform-text">Vote Website</div>
    </div>

  </div>
</section>
